<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"  color="light"></ion-icon>
    </button>
    <ion-title>Galeri Foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
    <!-- <ion-grid>
      <ion-row>
        <ion-col col-4 col-sm *ngFor="let image of imageList">
          <div padding class="img" tappable [ngStyle]="{'background-image': 'url(' + image.url + ')'}"></div>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-list>
      <button  (click)="detailsPage(employee)" ion-item *ngFor="let employee of staffList">
        <ion-thumbnail item-start>
          <img [src]="employee.imageURL">
        </ion-thumbnail>
        <h2>{{employee.name}}</h2>
        <p>{{employee.company}}</p>
        <button ion-button clear item-end>View</button>
      </button>
    </ion-list>

    <!-- <ul>
      <li><a href="http://fotoweb.kkr.gov.my/fotoweb/Grid.fwx?archiveId=5006&position=1&search=#Preview1">Zon Utara</a></li>
      <li>Zon Selatan</li>
    </ul> -->

  </ion-content>

  <ion-footer>
      <ion-navbar color="danger">
        <ion-title align="center">Cipta Detik Indah Bersama</ion-title>
      </ion-navbar>
  </ion-footer>
  